name: 'Produce create deb'
on:
  push:
    branches:
      - '*'
jobs:
  build-deb:
    name: 'Build deb'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-18.04
    steps:
      - name: Get info
        id: get_tag
        run: |
          echo ::set-output name=SHORT::${{ github.sha }}
      - name: Get name
        id: get_name
        run: |
          echo ::set-output name=NAME::`echo ${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]'`
      - uses: actions/checkout@v1
        with:
          lfs: true
      #- name: Upload APK
        #uses: actions/upload-artifact@v2
        #with:
          #name: notification_tracker
          #path: app/build/outputs/apk/release/notification_tracker.release.apk
      #- name: Upload to PlayMarket
        #uses: r0adkll/upload-google-play@v1
        #with:
          #serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          #packageName: com.guralnya.notification_tracker
          #releaseFile: app/build/outputs/apk/release/notification_tracker.release.apk
          #track: beta
          #userFraction: 0.33
          #whatsNewDirectory: distribution/whatsnew
      - name: 'install pre-build requirements ubuntu'
        run: |
          sudo apt update && ( sudo apt install -y sudo rsync wget git md5deep ssh)

          #mkdir -p ~/.ssh/key
          #sudo chown -R $USER:$USER ~/.ssh
          #echo "${{ secrets.SSH_PRIVATE }}" > ~/.ssh/id_rsa
          #sudo chmod 600 ~/.ssh/id_rsa

          #sudo cat << HERE > ~/.ssh/config
            #Host *
                #StrictHostKeyChecking no

            #Host github.com
                #User git
                #Hostname github.com
                #PreferredAuthentications publickey
                #IdentityFile ~/.ssh/id_rsa
          #HERE

          #sudo chown -R $USER:$USER ~/.ssh

          wget https://golang.org/dl/go1.15.3.linux-amd64.tar.gz
          sudo tar -C /usr/local -xzf go1.15.3.linux-amd64.tar.gz

          sudo ln -s ~/.ssh /root/.ssh
      - name: 'Run Create ${{ steps.get_name.outputs.NAME}}-0.0.0-${{ github.sha }}-aarch64-main.deb'
        run: |
          git config --global url."ssh://git@github.com".insteadOf "https://github.com"

          export GO111MODULE=on
          export GOPROXY=direct
          export GOSUMDB=off
          export GOPATH=~/go
          export GOBIN=$GOPATH/bin
          export PATH=$PATH:$GOBIN:/usr/local/go/bin
          mkdir ~/go

          go get golang.org/x/mobile/cmd/gomobile
          gomobile init

          gomobile bind -o tmp/gomobilelib.aar -target=android github.com/exitstop/speakerandroid/gomobilelib

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      # Without NDK not compile and not normal error message. NDK is required
      - name: Install NDK
        run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
      # Some times is have problems with permissions for ./gradle file. Then uncommit it code
      #    - name: Make gradlew executable
      #      run: chmod +x ./gradlew
      - name: Output version code
        run: echo VERSION_CODE=${{ github.run_number }} > ./version.properties

      - name: Build with Gradle
        run: |
          cd android
          ./gradlew assemble
        env:
          RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
          PIN_ALIAS: ${{ secrets.PIN_ALIAS }}
          DB_PASS_ALIAS: ${{ secrets.DB_PASS_ALIAS }}
        working-directory: ./
      - name: 'Upload ${{ steps.get_name.outputs.NAME}}-0.0.0-${{ github.sha }}-artifact.zip package'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.get_name.outputs.NAME}}-0.0.0-${{ github.sha }}-artifact
          path: ./android/app/build/outputs/apk/release/*.apk
